modules = ["php-8.4", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[userenv]

[userenv.shared]
APP_URL = "https://deeb2ffc-615d-44ed-a0cd-b1cde9f84756-00-24lu1hpq4f5ka.worf.replit.dev"
DB_CONNECTION = "pgsql"
SESSION_SECURE_COOKIE = "true"
SESSION_SAME_SITE = "none"
SESSION_DOMAIN = ""
SESSION_PARTITIONED_COOKIE = "true"
FBR_PROXY_URL = "https://nestpay.replit.app/api/fbr-proxy/submit"
ASSET_URL = "/"
SESSION_DRIVER = "file"
CACHE_STORE = "file"
QUEUE_CONNECTION = "sync"

[userenv.production]
APP_KEY = "base64:41WY2e9C1jMkW21wJQsxMC1NUk5mge9Rn7sx5oNo4x0="
APP_ENV = "production"
APP_DEBUG = "false"
DB_HOST = "169.254.254.254"
DB_DATABASE = "neondb"
DB_USERNAME = "neondb_owner"
DB_PORT = "5432"
DB_PASSWORD = "password"

[userenv.development]
APP_ENV = "production"
APP_DEBUG = "false"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Laravel Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Queue Worker"

[[workflows.workflow]]
name = "Laravel Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Queue Worker"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan queue:work"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan serve --host=0.0.0.0 --port=5000"]
publicDir = "dist/public"
build = ["bash", "-c", "npm run build"]
